[Unit]
Description=Minute Timer
Requires=custom_metrics.service

[Timer]
OnBootSec=1min
OnCalendar=*:0/1
Unit=custom_metrics.service

[Install]
WantedBy=timers.target
